<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Subscription Manager</title>    
    <link rel="stylesheet" href="https://unpkg.com/primevue/resources/themes/lara-light-green/theme.css" />
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/core/core.min.js"></script>
    <script src="https://unpkg.com/primevue/datatable/datatable.min.js"></script>
    <script src="https://unpkg.com/primevue/column/column.min.js"></script>
    <script src="https://unpkg.com/primevue/toast/toast.min.js"></script>
    <script src="https://unpkg.com/primevue/toastservice/toastservice.min.js"></script>
    <script src="https://unpkg.com/primevue/panel/panel.min.js"></script>
    <script src="https://unpkg.com/primevue/tag/tag.min.js"></script>
    <script src="https://unpkg.com/primevue/confirmdialog/confirmdialog.min.js"></script>
    <script src="https://unpkg.com/primevue/confirmationservice/confirmationservice.min.js"></script>
</head>

<body>

    <div id="app">
        <p-confirmdialog></p-confirmdialog>
        <p-toast position="top-right"></p-toast>
        <p-panel header="Job Subscription Manager">
            Gerencie suas inscrições em vagas de emprego. Desenvolvido com VueJS e PrimeVue            
        </p-panel>
        <p-button label="Vaga" class="new-button" @click="showNew = true" icon="pi pi-plus-circle"></p-button>  
        <p-datatable :value="vagas">
            <template #header>
                <div>Inscrições</div>
            </template>            
            <p-column field="empresa" header="Empresa"></p-column>
            <p-column field="cargo" header="Cargo"></p-column>
            <p-column field="responsavel" header="Responsável"></p-column>
            <p-column header="Situação">
                <template #body="slotProps">
                    <p-tag :value="slotProps.data.status" severity="danger"></p-tag>
                </template>
            </p-column>
            <p-column field="id" header="Editar">
                <template #body="slotProps">
                    <p-button icon="pi pi-file-edit" severity="info" rounded raised @click="edit(slotProps.data.id)" />                    
                </template>
            </p-column>
            <p-column field="id" header="Deletar">
                <template #body="slotProps">
                    <p-button icon="pi pi-trash" severity="danger" rounded raised @click="deleteRow(slotProps.data.id)" />
                </template>
            </p-column>
            <template #footer> Total de inscrições: {{ vagas ? vagas.length : 0 }} </template>
        </p-datatable>
        <p-dialog v-model:visible="showNew" modal header="Vaga" :style="{ width: '25rem' }">
            <span>Registre as informações da vaga</span>
            <div>
                <p-inputtext v-model="empresa" autocomplete="off" placeholder="Empresa" />
            </div>
            <div>
                <p-inputtext v-model="cargo" autocomplete="off" placeholder="Cargo" />
            </div>
            <div>
                <p-inputtext v-model="responsavel" autocomplete="off" placeholder="Responsável" />
            </div>            
            <div>
                <p-button type="button" label="Cancelar" severity="secondary" @click="clearNewFields" icon="pi pi-stop-circle"></p-button>
                <p-button type="button" label="Salvar" @click="save" icon="pi pi-save"></p-button>
            </div>
            <div>
                <p-message severity="error" v-if="hasErrors">Preencha todos os campos</p-message>
            </div>
        </p-dialog>
        <p-dialog v-model:visible="showEdit" modal header="Vaga" :style="{ width: '25rem' }">
            <span>Edite as informações da vaga</span>
            <div>
                <p-inputtext v-model="empresa_edit" autocomplete="off" placeholder="Empresa" />
            </div>
            <div>
                <p-inputtext v-model="cargo_edit" autocomplete="off" placeholder="Cargo" />
            </div>
            <div>
                <p-inputtext v-model="responsavel_edit" autocomplete="off" placeholder="Responsável" />
            </div>
            <div>
                <p-dropdown v-model="status_edit" :options="situacoes" optionLabel="Situação" placeholder="Selecione a situação atual" />
            </div>
            <div>
                <p-button type="button" label="Cancelar" severity="secondary" @click="clearEditFields" icon="pi pi-stop-circle"></p-button>
                <p-button type="button" label="Editar" @click="update" icon="pi pi-file-edit"></p-button>
            </div>
            <div>
                <p-message severity="error" v-if="hasEditErrors">Preencha todos os campos</p-message>
            </div>
        </p-dialog>
    </div>

    <script src="app.js"></script>

</body>

</html>